<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Welcome</title>
</head>
  <body>
    <p>Hi {{firstName}},</p>
    <p>Thanks for joining us! We're thrilled to have you on board, and we can't wait for you to explore everything we have to offer.</p>
    <p>As you get started, feel free to explore your account and discover our features. If you have any questions or need assistance, our support team is always here to help.</p>
    <p>Together, let's make the most of your experience. We look forward to supporting your journey every step of the way.</p>
    <p>Best regards,</p>
    <p>Your Supportive Team</p>
  </body>
</html>
